*{
    box-sizing: border-box;
    background-color: #646262;
    width: 100%;
}

body{
    margin: 0;
}

.btn{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: 10px;
    border-style: none;
    outline: none;
}

footer img.fixado {
    width: 64px;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    background: none;
}

.G{
    background-color: #00d034;
    margin-left: 30px;
}

header{
    background-color: #202020;
    margin: 0;
    margin-bottom: 0.3cm;
    padding: 9px;
    color: white;
    font-size: 44px;
    display: flex;
    flex-wrap: wrap;
}

header input {
    background-color: rgba(45, 45, 45, 0.63);
    color: darkgrey;
    border: solid 1px #525252;
    max-width: 300px;
    padding: 0.8%;
    outline: none;
    margin-left: 15%;
    margin-right: auto;
    display: block;
}

header img.perfil{
    width: 64px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 30px;
    padding: 0;
    border: none;

}

img{
    border-color: black;
    transition: border-color .9s;
}

img:hover{
    border-style: solid;
    padding: 2px;
    border-color: red;
    border-radius: 5px;
}

.imagem{
    flex: 1;
    flex-grow: 0;
    margin-bottom: 16px;
    flex-basis: 300px;
    background-color: black;
    padding: 24px 8px 56px 8px;
    
}

.imagem img{

    width: 300px;
    height: 300px;
}

.R{
    background-color: #FF0000;
    margin-left: 240px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}